@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family:letralucme;
  src: url(BeachStory.ttf);
}

h1{
  font-family:letralucme ;
} 

/* TODA LA PARTE DEL MENU */

/* LOGO RESPONSIVE */
@media (max-width: 1000.9px) {
  #logo {
    height: 25px;
    width: 80px;
  }
}
/* MENU ARRIBA TRASPARRENTE */

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #f1f1f190;
  transition: background-color 0.2s ease;
  border-radius: 29px;
  margin: 30px;
  top: 0;
  margin-top: 6px;
}
#mainNav .navbar-brand {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #0985bf;
 
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #54e4d5 !important; 
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
    
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #0985bf;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
   
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #0985bf;
    border-radius: 30px;
    background-color: #f1f1f1d3;
    margin:10px;
    padding: 10px;
    font-weight: 600;
    font-weight: bold;
    
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  /* menu scroll */
/*   #mainNav.navbar-shrink {
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
     background-color: #f1f1f190; 
  } */

  #mainNav.navbar-shrink .navbar-brand {
    color: #212529b6;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #0985bf;
    border-radius: 30px; 
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #14202c9f;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #0985bf;
    border-radius: 30px;
    background-color: #f1f1f1e7;
    margin:10px;
    padding: 10px;
  }
}



/*   background-image: linear-gradient(to right, #0985bf, #54e4d5); */
