/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* body{
  cursor:url('img/cursor_2.png'), auto;
} */


/* @font-face {
  font-family:letralucme;
  src: url(BeachStory.ttf);
}

h1{
  font-family:letralucme ;
} 

/* START MENU */

/* LOGO RESPONSIVE */
@media (max-width: 1000.9px) {
  #logo {
    height: 25px;
    width: 80px;
  }
}

/* DROPDOWM */

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f190;
  font-family: "Fira Sans", sans-serif;
}
.menu-vertical li:hover {
  background-color: #f1f1f1fd;
  border-radius: 2px;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#mainNav li:hover .menu-vertical {
  display: block;
  padding: 3px;
  margin: 3px;
  border-radius: 8px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}
.menu-vertical li a {
  display: block;
  font-weight: bold;
  font-size: medium;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  color: #0f151bb9;
}
/* End DROPDOWM */

/* MENU ARRIBA TRASPARRENTE */

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #f1f1f190;
  transition: background-color 0.2s ease;
  border-radius: 19px;
  margin: 30px;
  top: 0;
  margin-top: 6px;
}

#mainNav .navbar-brand {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}



#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #0875a8;
}
/* #mainNav .navbar-nav .nav-item .nav-link.active {
   color: #54e4d5 !important; 
} */
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #0985bf;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
  }
  /* el bordeado blanco */
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #046c9c;
    border-radius: 20px;
    background-color: #f1f1f1d3;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  /* menu scroll */
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #f1f1f190;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #212529b6;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #025f8a;
    border-radius: 30px;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #14202c9f;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #0985bf;
    border-radius: 30px;
    background-color: #f1f1f1e7;
    margin: 10px;
    padding: 10px;
  }
}
/* END MENU */



/* Contenedores de las imagenes en el carrusel */

#fc1 {
  background-image: linear-gradient(to right, #0985bf, #54e4d5);
}
#fc2{
  background-color: #e55352;
}
/* end contenedores */



/* CUERPO DE LA PAGINA */





/* FINAL DEL CUERPO */




/* colores de ludicme

azul oscuro: #0c8bbf;
azul-light: #32bbcb;
azul-verde: #59edd8;
Salmon: #f79722;
Rojo: #e55352; */
/*   background-image: linear-gradient(to right, #0985bf, #54e4d5); */
